body.mikrotik-ros {
    --bg-light: #141414 !important;
    --bg-medium: #222427 !important;
    --bg-bright: #2f3439 !important;
    --white: #2f3439 !important;
    --body-color: white;
    --dark-green : white;
    --green: white;
    --corner: 0;
    --corner-sm: 0;
    --corner-md: 0;

    color: var(--body-color);

    .icon {
        filter: invert(35%) sepia(90%) saturate(5000%) hue-rotate(190deg) !important;
    }

    .menu ul.level-1 a:has(+ul)::after, .menu ul.level-1 button:has(+ul)::after {
        filter: invert(35%) sepia(90%) saturate(5000%) hue-rotate(190deg) !important;
    }

    .table.comment-std th.comment button.switch {
        filter: invert(35%) sepia(90%) saturate(5000%) hue-rotate(190deg) !important;
    }

    .table {
        tbody {
            background-color: var(--bg-bright) !important;
        }
    }

    .tabs .btn.tabs-active, .tabs .btn-select-drop button.tabs-active, .btn-select-drop .tabs button.tabs-active, .tabs .btn-select-drop a.tabs-active, .btn-select-drop .tabs a.tabs-active {
        background-color: var(--bg-bright) !important;
        color: white;
    }

    .tabs .btn, .tabs .btn-select-drop button, .btn-select-drop .tabs button, .tabs .btn-select-drop a, .btn-select-drop .tabs a {
        background-color: var(--bg-light) !important;
        color: white;
    }

    input[type="text"], input[type="password"], input[type="search"], textarea, .combobox button, select {
        border: 1px solid #cfcfcf;
        color: white;
    }

    .table input[type="checkbox"] {
        background-color: transparent;
        border: 1px solid #cfcfcf;

        &:focus {
            outline: none;
            outline-offset: 0;
        }
    }

    .bg-green {
        background-color: transparent !important;
    }

    .acc .acc-title>button {
        color: white;
    }

    a[href="#System:Reboot.Reboot"] {
        background-color: #ff4d4f; /* red background */
        color: white;               /* text color */
        border: 1px solid #ff4d4f; /* optional border to match */
    }

    button[id="ApplyButton"] {
        background-color: #ff4d4f; /* red background */
        color: white;               /* text color */
        border: 1px solid #ff4d4f; /* optional border to match */
    }

    button[id="CloseButton"] {
        color: var(--white);
        background-color: var(--dark-green);
        border-color: var(--dark-green);
    }

    .modal::backdrop {
        background-color: rgb(255 255 255 / 30%);
    }

    @keyframes antimate-focusflash {
        0% {
            box-shadow: 0 0 0.5rem 0.25rem rgba(0, 123, 255, 0); /* transparent blue */
        }
        50% {
            box-shadow: 0 0 0.5rem 0.25rem rgba(0, 123, 255, 0.25); /* semi-transparent blue */
        }
        100% {
            box-shadow: 0 0 0.5rem 0.25rem rgba(255, 255, 255, 0); /* transparent blue */
        }
    }

    input[type="checkbox"].switch {
        border-color: var(--bg-bright);
        background-color: var(--bg-bright);

        &::after {
            background-color: white;
        }
    }

    input[type="checkbox"].switch:checked, input[type="checkbox"].switch:checked:focus, input[type="checkbox"].switch:checked:hover, input[type="checkbox"].switch:checked:focus:hover {
        border-color: lightgreen;
        background-color: lightgreen;
    }

    img[src="mikrotik_logo.svg"] {
        filter: brightness(0) invert(1);
    }

    .table .flags {
        background: var(--bg-medium);
        color: white;
    }

    .table th.sort.sort-ascend::after, .table th.sort.sort-descend::after {
        filter: brightness(0) invert(1);
    }

    input[type="checkbox"].switch:focus, input[type="checkbox"].switch:focus:hover {
        outline: none;
        outline-offset: 0;
    }

    .btn {
        &.btn-minus {
            background-color: #ff4d4f; /* red background */
            border: 1px solid #ff4d4f; /* optional border to match */

            &::after {
                filter: brightness(0) invert(1);
            }
        }

        &.btn-plus {
            background-color: #078bff; /* red background */
            border: 1px solid #078bff; /* optional border to match */

            &::after {
                filter: brightness(0) invert(1);
            }
        }

        &:focus {
            outline: none;
            outline-offset: 0;
        }
    }

    .sidenav {
        border-right: 1px solid #cfcfcf !important;
    }

    .grid>header {
        border-bottom: 1px solid #cfcfcf !important;
    }

    .wndw--tools {
        border-bottom: 1px solid #cfcfcf !important;
    }

    .statusbar {
        color: white;
    }

    #remove-btn {
        >.icon-bg.bg-red {
            background-color: #ff4d4f !important; /* red background */

            >span {
                filter: brightness(0) invert(1) !important;
            }
        }

        &:hover {
            background: var(--bg-medium);
        }
    }

    #disable-btn {
        >.icon-bg.bg-dark {
            background-color: transparent !important; /* red background */
        }

        &:hover {
            background: var(--bg-medium);
        }
    }

    #enable-btn {
        &:hover {
            background: var(--bg-medium);
        }
    }

    #new-button {
        >.select-wrap {
            &:hover {
                background: var(--bg-medium);
            }
        }
    }

    .acc-title::before {
        filter: brightness(0) invert(1) !important;
    }

    .combobox button {
        background-color: transparent;
        border: none;
        filter: brightness(0) invert(1) !important;
    }

    .f-item>label .error, .f-item>legend .error {
        color: #ff4d4f;
    }

    input[type="radio"]:checked {
        background-color: #078bff;
        border-color: #078bff;
    }

    input[type="radio"]:checked::after {
        background-color: white;
    }

    .graph {
        .grid-line {
            stroke: white;
        }

        text {
            fill: white;
        }
    }

    .focus-flash:focus, .focus-flash:focus-within {
        animation-name: none !important;
        box-shadow: none !important;
    }
}